language: python

matrix:
  include:
    - os: linux
      dist: trusty
      python: 3.6
      env: PIP=pip
    - os: osx
      language: generic
      env:
        - TOXENV=py36
        - PIP=pip3
  allow_failures:
  - os: osx
  fast_finish: true

before_install:
  - if [[ "$TRVIS_OS_NAME" == "osx" ]]; then brew install python3; fi
  - if [[ "$TRVIS_OS_NAME" == "osx" ]]; then brew install pyenv-virtualenv; fi


install:
  - pip install -r requirements.txt
  - pip install .
  - pip install pyinstaller

script:
  # pmMonitor
  - pyinstaller -F --add-data pmserver/templates:pmserver/templates serv.py
  - mv dist/serv dist/pmMonitor_${TRAVIS_OS_NAME}_x64

  # pm2csv
  - pyinstaller -F pm2csv.py
  - mv dist/pm2csv dist/pm2csv_${TRAVIS_OS_NAME}_x64

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file:
    - dist/pmMonitor_$(TRAVIS_OS_NAME)_x64
    - dist/pm2csv_${TRAVIS_OS_NAME}_x64
  on:
    tags: true