language: python

matrix:
  include:
    - os: linux
      dist: trusty
      python: 3.6
      env: PIP=pip
    - os: osx
      language: generic
      env:
        - TOXENV=py36
        - PIP=pip3
  allow_failures:
  - os: osx
  fast_finish: true


install:
  - $PIP install -r requirements.txt
  - $PIP install .
  - $PIP install pyinstaller

script:
  # pmMonitor
  - pyinstaller -F --add-data pmserver/templates:pmserver/templates serv.py
  - mv dist/serv dist/pmMonitor_${TRAVIS_OS_NAME}_x64
  - ls dist/*

  # pm2csv
  - pyinstaller -F pm2csv.py
  - mv dist/pm2csv dist/pm2csv_${TRAVIS_OS_NAME}_x64
  - ls dist/*

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN
  file:
    - "dist/pmMonitor_$(TRAVIS_OS_NAME)_x64"
    - "dist/pm2csv_${TRAVIS_OS_NAME}_x64"
  on:
    branch: master