{% extends 'index.html' %}

{% block stylesheets %}
    {{ super() }}
    <style>
        #rawData {
            height: 500px;
            width: 100%;
            overflow: auto;
        }

        .page-header {
            border-bottom: 1px solid dimgrey;
            color: dimgrey;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row">
        <h1 class="page-header w-100 p-2">
            Welcome to pmMonitor
            <a class="btn btn-primary btn-sm m-3 float-right"
               href="{{ url_for('config') }}">
                Back to Config page
            </a>
        </h1>
    </div>
    <div class="row">
        <h4 class="badges">
            <div class="badge badge-danger badge-lg m-2" id="statusBadge">
                Sensor status:&nbsp;
                <div class="badge badge-light">
                    offline
                </div>
            </div>

            <div class="badge badge-success m-2">
                Version:&nbsp;
                <div class="badge badge-light">{{ version }}</div>
            </div>

            <div class="badge badge-success m-2" id="pm10max">
                PM10 max (40 µg/m³): &nbsp;
                <div class="badge badge-light">0 [0%]</div>
            </div>

            <div class="badge badge-success m-2" id="pm25max">
                PM2.5 max (25 µg/m³): &nbsp;
                <div class="badge badge-light">0 [0%]</div>
            </div>
        </h4>
    </div>

    {% with messages = get_flashed_messages(with_categories=True)  %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
            <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="row">
        <div class="col col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">step</spanclass>
                </div>
                <input type="number" min="0" step="1" value="15" id="step">
                <div class="input-group-append">
                    <span class="input-group-text">sec</span>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Data format</div>
                </div>
                <select id="dataFormat" class="form-control">
                    <option value="json">JSON</option>
                    <option value="csv">CSV [comma separated]</option>
                </select>
            </div>
        </div>
        <div class="col col-md-4"></div>
    </div>

    <div class="row">
        <div class="col col-xs-12">
            <h3>Plot</h3>
            <div id="plot" style="height: 300px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col col-xs-12">
            <h3>Data</h3>
            <textarea class="card bg-light p-3" id="rawData">
        </textarea>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        const host = 'http://localhost:5000';
        let data = [];
        let pm10 = [];
        let pm25 = [];
        let connected = false;
        let dataFormat = 'json';
        let pm10max = 0;
        let pm25max = 0;

        // status handler
        statusHandler = function () {
            pmStatus();
            setTimeout(statusHandler, 2500);
        };

        measureHandler = function () {
            pmMeasure();
            setTimeout(measureHandler, Number($('#step').val()) * 1000);
        };

        // call the measure endpoint
        pmMeasure = function () {
            if (connected) {
                $.get(host + '/measure', (response) => {
                    data.push(response);

                    // update DOM
                    updateRaw();
                    updatePlot(response);
                    updateMax();
                });
            }
        };

        // call the measure endpoint
        pmStatus = function () {
            return $.get(host + '/status', (status) => {
                // update status
                connected = status.connected;
                // update badge
                updateStatus(connected);
            });
        };

        // inject the status into DOM
        updateStatus = function (isOnline) {
            b = $('#statusBadge');
            if (isOnline) {
                // turn badge on
                b.removeClass('badge-danger');
                b.addClass('badge-success');
                b.children().html('online');
            } else {
                // turn badge off
                b.removeClass('badge-success');
                b.addClass('badge-danger');
                b.children().html('offline');
            }
        };

        // update Raw data area
        updateRaw = function () {
            if (dataFormat === 'json') {
                $('#rawData').html(JSON.stringify(data, null, 4));
            }
            if (dataFormat === 'csv') {
                s = 'time,PM10,PM25\n';
                data.forEach(el => {
                    s += new Date(el.time).toISOString() + ',' + el.PM10 + ',' + el
                            .PM25 +
                        '\n';
                });
                $('#rawData').html(s);
            }

        };

        // update maximum values
        updateMax = function () {
            // not sure if there is a easier way
            let pm10only = [];
            let pm25only = [];
            pm10.forEach(e => pm10only.push(e.y));
            pm25.forEach(e => pm25only.push(e.y));
            const maxpm10 = Math.max.apply(Math, pm10only);
            const maxpm25 = Math.max.apply(Math, pm25only);

            // update the badge
            b10 = $('#pm10max');
            b25 = $('#pm25max');

            // update the value
            b10.children().html(maxpm10 + ' [' + Math.round((maxpm10 / 40.) * 100) + '%]');
            b25.children().html(maxpm25 + ' [' + Math.round((maxpm25 / 25.) * 100) + '%]');

            // update the color
            if (maxpm10 >= 40) {
                b10.removeClass();
                b10.addClass('badge badge-danger m-2');
            }
            if ((maxpm10 < 40) & (maxpm10 >= 30)) {
                b10.removeClass();
                b10.addClass('badge badge-warning m-2');
            }
            if (maxpm10 < 30) {
                b10.removeClass();
                b10.addClass('badge badge-success m-2');
            }
            if (maxpm25 >= 25) {
                b25.removeClass();
                b25.addClass('badge badge-danger m-2');
            }
            if ((maxpm25 < 25) & (maxpm25 >= 18)) {
                b25.removeClass();
                b25.addClass('badge badge-warning m-2');
            }
            if (maxpm25 < 18) {
                b25.removeClass();
                b25.addClass('badge badge-success m-2');
            }
        };

        initPlot = function () {
            // convert data
            data.forEach(el => {
                pm10.push({x: new Date(el.time), y: el.PM10});
                pm25.push({x: new Date(el.time), y: el.PM25});
            });

            options = {
                zoomEnabled: true,
                animationEnabled: true,
                axisY: {includeZero: false},
                data: [
                    {type: 'line', dataPoints: pm10},
                    {type: 'line', dataPoints: pm25},
                ]
            };

            $('#plot').CanvasJSChart(options);
        };

        updatePlot = function (element) {
            // add new PM10 point
            pm10.push({x: new Date(element.time), y: element.PM10});
            pm25.push({x: new Date(element.time), y: element.PM25});

            $('#plot').CanvasJSChart().render();
        };

        // start handler
        statusHandler();
        setTimeout(measureHandler, 200);
        initPlot();

        // add event handler to dataFormat select
        $('#dataFormat').change(() => {
            // get the current value and update
            let nval = $('#dataFormat').val();
            dataFormat = nval;

            // update Textarea
            updateRaw();
        });


    </script>
{% endblock %}