{% extends 'base.html' %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.canvasjs.min.js') }}"></script>
{% endblock  %}

{% block body %}
    {% block navigation %}
    {% endblock %}
    <div class="container">
    {% block container %}

    {% endblock %}
    </div>
{% endblock %}